.nav-ul {
  padding: 5px;
  margin: 0px;
  background-color: skyblue;
}

.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.nav-ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.nav-right {
  text-align: right;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: skyblue;
  text-align: center;
  width: 100%;
}

.register, .product {
  margin-left: 40%;
  margin-right: 30%;
}

.login {
  margin-left: 30%;
  margin-top: 100px;
}

.inputBox {
  padding: 7px;
  border: 1px solid skyblue;
  width: 300px;
  margin: 20px;
}

.appButton {
  margin: 20px;
  width: 150px;
  padding: 10px;
  background-color: skyblue;
  border: 1px solid;
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  width: 50px;
  float: left;
  border-radius: 50px;
  margin-top: 0;
  margin-left: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
